*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}
ul{
     display: flex;
     list-style: none;
}
.post{
    background-color:#46B749 ;
    color: aliceblue;
}
.Hire{
    margin: 0px 5px;
    background-color: #3682FF;
    color: aliceblue;
}
.employ{
    background-color: #23315F;
    color: aliceblue;
}
.container-img{
    background-image: url(./banner_bg.webp);
    width: 100%;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inner-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}
input{
    width: 50px;
}
